<form class="ose-auto-npc">
    <div class="ose-auto-npc-input">
        <label for="charName">{{localize "OSEAUTONPC.name"}}:</label>
        <input name="charName" type="text" value="{{this.charName}}" placeholder="NPC" data-dtype="String" class="nameInput">

        <label for="charClass">{{localize "OSEAUTONPC.class"}}:</label>
        <select name="charClass" class="selector classSelector" data-dtype="String">
            {{#each this.charClasses}}
            {{#if (eq this.name ../selectedClass)}}
            <option value="{{this.name}}" selected>{{localize this.localize}}</option>
            {{else}}
            <option value="{{this.name}}">{{localize this.localize}}</option>
            {{/if}}
            {{/each}}
        </select>
        
        <label for="charLevel">{{localize "OSEAUTONPC.level"}}:</label>
        <select name="charLevel" class="selector levelSelector" data-dtype="Number">
            {{#each this.levelsAvailable}}
            {{#if (eq this ../this.selectedLevel)}}
            <option value="{{this}}" selected>{{this}}</option>
            {{else}}
            <option value="{{this}}">{{this}}</option>
            {{/if}}
            {{/each}}
        </select>
        <button type="submit" data-action="save" class="charCreateButton">Create</button>
    </div>
</form>